			<!-- Ceo -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<%= image_tag "images/ceo.png", height: 65 , width: 65 %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Rocket Elevators Was Started From The Ground Up.</p>
								<cite>
									Eileen Ai
									<span>CEO</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<div class="rounded">
							<figure>
								<%= image_tag "images/Screenshot_20220618-155158_Photos.jpg", height: 65 , width: 65 %>
							</figure>
							</div>
							<div class="testimonial-content p-0">
								<p class="lead">Single Handedly Built 87 Elevators Himself</p>
								<cite>
									Gianluca Ciccone
									<span>Employee Of The Month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /ceo -->