<!-- wrapper -->
		<div id="wrapper">
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">
				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">
						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<%= image_tag "images/R2.png", heigth: 169, width: 60 %>
						</a>
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a href="#top">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="#services">
											SERVICES
										</a>
									</li>
									<li><!-- Portfolio -->
										<a href="#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</di>
				</header>
				<!-- /Top Nav -->
			</div>