
			<!-- PORTFOLIO -->
			<section id="portfolio>
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="development" class="filter"><a href="#">Development</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="design" class="filter"><a href="#">Design</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix design"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/Award 1.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img" src="demo_files/images/Award 1.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Designer Award 2002</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Design</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix development"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/Award-2.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img" src="demo_files/images/Award-2.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Elevator Developer 2007</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Development</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/Award-3.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/Award-3.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Residential Builder Award 2007</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix design"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/Award 4.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/Award 4.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Creative Design 2009</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Design</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix design"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/Award-5.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/Award-5.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Most Improved Design 2011</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Design</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix development"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award-6.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award-6.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Mobile Development 2011</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Development</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award 7.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award 7.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Residential Elevators 2013</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix design"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award 8.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award 8.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Unique Elevator Award 2013</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Design</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix development"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award-9.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award-9.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Development Award 2015</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Development</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award-10.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award-10.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Community Voted Elevator Award 2016</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award-11.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award-11.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Most Residential Installments Award 2018</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix development"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/award-12.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img" src="demo_files/images/award-12.jpg" width="175" height="271" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Developer Award 2021</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Development</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
				</div>
			</section>
			<!-- /PORTFOLIO -->