			<hr class="m-0" /><!-- 1px line separator -->
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
								<img class="img" src="demo_files/images/award14.webp" height="240" width="360" alt="img" />
							</a>

							<h3 class="mt-10">Awards</h3>
							<p>Rocket Elevators has won multiple awards and medals for their outstanding designs and safety.</p>
							<a href="#portfolio" class="btn btn-default">The Awards</a>
						</div>

						<div class="col-sm-4">
								<img class="img-fluid" src="demo_files/images/Single-family_home.jfif" alt="img" />
							</a>
							<h3 class="mt-10">Best Residential Elevators</h3>
							<p>We offer best inclass residential elevators for all types of homes.</p>
							<a href="residential.html" class="btn btn-default">Residential Details</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="demo_files/images/AdobeStock_179073967.jpeg" alt="img" />
							<h3 class="mt-10">Corporate Elevators</h3>
							<p>Rocket Elevators also has world class elevators for corporate buildings.</p>
							<a href="Corporate.html" class="btn btn-default">Corporate Details</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->